/* VARIABLES */

$bg-color: #06111E;
$bg-color-lighter: transparentize(desaturate(lighten($bg-color, 10%), 30%), 0.2);
$text-color: #f1f1f1;

$gold-dark: #4C3F43;
$gold-light: #836548;
$purple-dark: #393551;
$purple-light: #684D73;
$blue-dark: #313548;
$blue-light: #285A67;
$green-dark: #2C3D3E;
$green-light: #375747;
$grey-dark: #343942;
$grey-light: #4D545B;